body{
    display: flex;
    justify-content: center;
    background:	rgb(144,144,144);
  }
   #main-div{
     border: 2px solid black;
     background-color: 	rgb(120,120,120);
     width: 40vw;
     border-radius: 8px;
     margin-top: 8vh;
   }
   input{
     height: 5vh;
     width: 25vw;
     /* margin-top: 3vh; */
     margin-bottom: 5px;
     margin-left: 6vw;
     border: 4px solid black;
     border-radius: 2px;
   }
   #select1{
     height: 5vh;
     width: 25.5vw;
     margin-left: 6vw;
     border: 2.7px solid black;
     border-radius: 3px;
   }
   #select2{
     height: 5vh;
     width: 25.5vw;
     margin-left: 6vw;
     border: 2.7px solid black;
     border-radius: 3px;
   }
   h2{
     padding-left: 3vw;
   }
   #mainButton{
    height:30px;
    width: 100px;
     
     background-color: rgb(152,152,152);
     border-radius: 5px;
     font-weight: bold;
   }
   #h1First{
     padding-left:45px;
     padding-right:50px;
     
   }
   #btn-h2-div{
     display: flex;
     justify-content: space-between;
     margin-top: 5vh;
     margin-bottom: 3vh;
   }
   #txtarea{
     margin-right: 6vw;
     margin-top: 0%;
   }

  

#swapBtn{
    height:30px;
  width: 100px;
  background:rgb(152,152,152);
  border-radius: 5px;
  font-weight: bold;
  
}